/*
Interface widgets toolbar.

@since 0.1.0
*/

#dashboard-widgets {
  h2 {
    .ac-interface-widget-edit-button {
      float: right;
      text-decoration: none;
      border-radius: 50%;
      background: #0073aa;
      color: #fff;
      font-size: 11px;
      padding: 3px;
      cursor: pointer;

      &:hover {
        background: #00b9eb;
      }

      &[data-ac-save], &[data-ac-cancel] {
        display: none;
      }

      .dashicons {
        font-size: 14px;
        width: auto;
        height: auto;
      }
    }
  }
}

#ac-interface-widgets-toolbar {
  margin: 0 -8px 20px;

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  .ac-interface-widget-edit-button {
    display: none;
  }

  .ac-interface-widgets-title {
    color: #aaa;
    font-style: italic;
    margin: 0 0 0.5em;
    line-height: 20px;
    text-align: center;

    .dashicons {
      line-height: 20px;
    }
  }

  .ac-interface-widgets-trash-container {
    float: left;
    width: 49.5%;

    @media screen and (max-width: 782px) {
      float: none;
      width: auto;
      margin-bottom: 20px;
    }

    .ac-interface-widgets-trash {
      margin: 0 8px;

      &:after {
        content: attr(data-emptystring);
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1em;
        width: 200px;
        text-align: center;
        color: #ccc;
        font-size: 18px;
        display: none;
      }

      &.empty {
        position: relative;
        border: 3px dashed #b4b9be;
        min-height: 100px;

        &:after {
          display: block;
        }
      }

      .postbox {
        background: #F5F5F5;

        h2 {
          color: #aaa;
        }
      }

      .handlediv {
        display: none;
      }

      .ac-interface-widget-trashed-postfix {
        float: right;
        font-style: italic;
      }
    }

    .postbox {
      margin-bottom: 0 !important;
    }
  }

  .ac-interface-widgets-add-new {
    float: right;
    width: 49.5%;

    @media screen and (max-width: 782px) {
      float: none;
      width: auto;
    }

    .ac-interface-widgets-new {
      margin-right: 8px;

      @media screen and (max-width: 782px) {
        margin-left: 8px;
      }

      &.empty {
        min-height: 100px;
      }
    }

    .handlediv {
      position: absolute;
      right: 0;
    }

    .ac-widget-title {
      display: table;
      width: 100%;
      padding: 3px 36px 3px 12px;
      box-sizing: border-box;

      .ac-widget-title-text {
        display: table-cell;
      }

      .ac-widget-title-input {
        display: table-cell;
        width: 100%;
      }
    }

    .ac-widget-inside {
      display: none;
    }
  }
}

.ac-widget-placeholder {
  box-shadow: 0 0 10px rgba(#000, 0.1);
  z-index: 100001; // Sit over cover
}

#ac-widgets-move-adminnotice {
  display: none;
}